@model AddPlayerModel

<style>
	.fieldDiv {
		margin-bottom: 1em;
	}
</style>

<form action="/Players/AddPlayer" method="post">
	<div asp-validation-summary="All"></div>
	<div class="fieldDiv">
		<label asp-for="Player.LastName">Фамилия</label><br />
		<input type="text" name="lastName" />
	</div>

	<div class="fieldDiv">
		<label asp-for="Player.FirstName">Имя</label><br />
		<input type="text" name="firstName" />
	</div>

	<div class="fieldDiv">
		<label asp-for="Player.BirthDate">Дата рождения</label><br />
		<input type="date" name="BirthDate" />
	</div>

	<div class="fieldDiv">
		<label asp-for="Player.Gender">Пол</label><br />
		<select asp-for="Player.Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
	</div>

	<div class="fieldDiv">
		<label asp-for="Player.Country">Страна</label><br />
		<select asp-for="Player.Country" asp-items="Html.GetEnumSelectList<Country>()"></select>
	</div>

	<div class="fieldDiv">
		<label asp-for="Player.TeamID">Добавить команду игроку</label><br />
		<select name="TeamID">
			@foreach (var team in Model.Teams)
			{
				<option value="@team.ID">@team.Name</option>
			}
			<option value="new">Создать новую команду</option>
		</select>
	</div>
	<div class="fieldDiv" id="newTeamInput" style="display: none;">
		<label>Имя новой команды:</label>
		<input type="text" name="NewTeamName" />
	</div>

	<button type="submit">Добавить</button>
</form>

<script>
	document.querySelector('select[name="TeamID"]').addEventListener('change', function () {
		if (this.value === 'new') {
			document.getElementById('newTeamInput').style.display = 'block';
		} else {
			document.getElementById('newTeamInput').style.display = 'none';
		}
	});
</script>