@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Проект был выполнен Пьяновой Еленой</h1>
    <p>Данный проект является тестовым заданием в компанию 66Bit</p>
</div>
